img {
    width: 100px;
    height: 100px;
    margin-right : 50px;
    margin-left: 50px;
}

.Goombas {
    margin-left: 100px;
    width: 15%;
    float: left;
    
}

.Bob-ombs { 
 width:15%;
    float: left;
}

.Cheep-cheeps{
    float: left;
   width: 15%;
    
}

.coins {
    text-align: center;

}

.T {
    float : left;
    width: 15%
}