.red{
    background: red;
    height: 50px;  
    margin: 5px;
}

.pink{
    background: pink;
    height: 50px;
    margin: 5px;
}
.blue{
    background: blue;
    height: 50px;
    margin: 5px;
}
.green{
    background: green;
    height: 50px;
    margin:  5px;
}
.purple{
    background: purple;
    height: 50px;
    margin: 5px;
}

